% Compiler Options for rebar
{erl_opts, [{parse_transform, lager_transform}, debug_info, {src_dirs, ["src"]}]}.

% Dependencies
{deps, [
    {lager, {git, "git@github.com:erlang-lager/lager.git", {tag, "3.8.0"}}},
    {lager_logstash,{git,"git@github.com:tigertext/lager_logstash.git", {tag,"0.1.4"}}},
    {jsx,  {git, "git@github.com:talentdeficit/jsx.git", {tag, "v3.0.0"}}},
    {meck, {git, "git@github.com:eproxus/meck.git", {tag, "0.9.2"}}}
]}.

{cover_enabled, true}.
{cover_print_enable, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
