% Compiler Options for rebar
{erl_opts, [{parse_transform, lager_transform}, debug_info, {src_dirs, ["src"]}]}.

% Dependencies
{deps, [
    {lager, "3.8.0"},
    {meck, "0.9.2"},
    {jsx, "2.8.3"}
]}.

{cover_enabled, true}.
{cover_print_enable, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
