% Compiler Options for rebar
{erl_opts, [{parse_transform, lager_transform}, debug_info, {src_dirs, ["src"]}]}.

% Dependencies
{deps, [
        {lager,"3.8.0"},
        {meck,        {git, "https://github.com/erlang-lager/lager.git",    {tag, "0.9.2"}}},
        {jsx,         {git, "https://github.com/talentdeficit/jsx.git",     {branch, "old-master"}}}

]}.

{cover_enabled, true}.
{cover_print_enable, true}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
